@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}
*{
    box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    margin: 0; padding: 0; max-width: 100%;
}

html{
    font-family: 'EB Garamond', serif;
}
a{color: #fff; text-decoration: none;}
a:hover{color:#fff;}
p{margin: 2.5% 1%;}
body{ max-width: 100%;}
header{ position: absolute; top:0;
    min-width: 100%; max-width: 100%; background: none; z-index: 3; 
}
#logo_menu_wrapper{padding: 4% 5% 2.5%;}
#logo{width: 28vh;}
.hamburger { display: inline-block; float: right; cursor: pointer;}

.line1, .line2, .line3 {
  width: 35px; height: 5px; margin: 6px 0;
  background-color: #fff; transition: 0.6s;
}
.change .line1 {
  transform: rotate(-45deg) translate(-9px, 6px); -webkit-transform: rotate(-45deg) translate(-9px, 6px);
}
.change .line2 {opacity: 0;}
.change .line3 {
  transform: rotate(45deg) translate(-8px, -8px); -webkit-transform: rotate(45deg) translate(-8px, -8px);
}
#nav_wrapper{ display:none; text-align: right;}
#nav_wrapper div{padding: 5px; color: #fff; }
.nav_item{ padding: 1% 8%; text-decoration: none; color: #fff;}
#nav_wrapper div:hover{background-color: rgba(0,0,0,0.5); }
.background_video{
    position: fixed; top: 0;
    min-width:100vw; min-height: 100vh; z-index: -1; overflow:hidden;
}
#landing_video{
    min-width: 135%; min-height: 100vh; height: auto;
}
.action_wrapper{
    padding: 3% 5% 2%; 
}
.action_wrapper img{
    margin-top: 1%; width:10.5%;
}
.event_viewer{
    padding: 3.5%;
}
.picture_and_text{ width:100%; overflow: hidden; }
#landing_view{ height : 100vh; overflow: hidden; display: flex; flex-direction: column; justify-content: center; align-content: flex-end;}

.page_section{ padding: 2.5% 7.5% 1.5%;}
.page_section h2{ 
    font-family: 'Satisfy', cursive;
    color: #42BFDD;
}
.page_section_colored{
    color:#fff; background-color: #084B83;
}
#welcome_wrapper{
    width:100%; height: 100vh; padding: 20% 8% 2%;
    color: #fff; background-color: rgba(0, 32, 128, 0.4);
    display: flex; flex-direction: column; justify-content: center; text-align: center;
}
#welcome_wrapper h4{font-family: 'Satisfy', cursive; font-size: 2.1vw; color: #42BFDD; text-align: left; padding-left: 15vw;}
#welcome_wrapper h3{ font-size: 3.7vw; }
#welcome_wrapper a{ font-size: 3vw; color:#fff; margin:2%;}
#church_name{ font-size: 4.75vw;}
.social_wrapper{ display: flex; }
.social_wrapper a{ padding: 5%; font-size: 5em; color: #084B83;}
.picture_and_text{ 
    height: 90vh; margin:0; min-width: 100%;
}
.text_on_pic_describe{
    position: relative; width: 45%; left: 55%; top: 55%; padding: 2% 3.5% 2% 2%; color: #fff; background-color: #42BFDD; font-size: 2.4vw;
}
.text_on_pic_action{
    position: relative; width: 46%; left: 27%; top: 65%; padding: 2%; color: #084B83; background-color: #fff;  text-align: center; border-radius: 10px; font-family: 'Satisfy', cursive; font-size: 2.2vw;
}
.home_text{
    font-size : 4.5vw;padding: 11% 10%;
    text-align: center; color:#fff; font-family: 'Satisfy', cursive; 
}
.home_text_small{ font-size : 3vw; padding: 5% 10%;
    text-align: center; color:#fff; font-family: 'Satisfy', cursive; }
.ruler{position:relative; width: 50%; left: 25%; height: 2.5px; background-color: #42BFDD; margin: 4%}
.ruler2{position:relative; width: 40%; left: 30%; height: 0.7vh; background-color: #028090; margin: 1.5%;}

.buffer{ min-height: 45vh; height: 45vh; color: #fff; 
    display: flex; justify-content: center; align-items: flex-end;
    background: url(../images/buffer_worship.jfif) center bottom no-repeat; background-size: cover; z-index: 2;
}
.page_title{padding: 1%; width:90%; text-align:center; font-family: 'Pacifico', cursive;}

.heading_button_wrapper{display: flex; justify-content: space-between; align-items: center;}
.more_button{color: #42BFDD;}
.sub_section{margin: 3% 3%;}
.sub_section div{margin: 3.5% auto;}
.sub_section ul, .sub_section ol{padding-left: 5%;}
.sub_section h3{font-family: 'Satisfy', cursive; color: #023e8a;}
.sub_section h4{text-transform: uppercase;}

#services_section{text-align: center;}
.box_wrapper_light{
    margin: 2% 1%; padding : 5%; 
    display : flex; justify-content: space-around; align-content: center; background-color: #ade8f4; 
}
.box_wrapper_light > div{padding: 1% 0%;}
.box_wrapper_light > div > p {color: #023e8a;}
.box_wrapper_white{
    margin: 2% 1%; padding: 2.5%; 
    background-color: #fff; border: 1px solid grey;
}
.picture_text_bottom{
    padding: 1%; margin: 1% 0;
}
.person_picture{
    margin: 5% 2%; width:22vh;height:22vh; border-radius: 50%; border: 4px solid #fff; box-shadow: 1px 2px 1px 0.5px rgba(0, 0, 0, 0.2), 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}
#vision_mission, #what_to_expect, #our_roots, #statement_of_faith{
    margin: 0 8.5%;
}
#sub_section_vision_mission, #sub_section_what_to_expect, #sub_section_our_roots, #sub_section_statement_of_faith, #sub_section_benevolence_responsibilities{
    display: none;
}
#sub_section_pastors{display: flex; justify-content: center; text-align: center;}
#sub_section_what_to_expect a{color:#06D6A0;}
/*begin divs with centered picture in background*/
.picture_box{background: center center no-repeat; background-size:cover;}
.picture_box_ministry{width:100%; height:40%;}

#picture_box_home1{background-image: url(../images/church5.jpg);}
#picture_box_home2{background-image: url(../images/pastorj_auditorium.jpg);}
#picture_box_home3{background-image: url(../images/flower.jpg);}
#picture_box_home4{background-image: url(../images/kids.webp);}
#picture_box_slash{background: url(../images/slash.jpg);}
#picture_box_shapes{background: url(../images/shapes_colors.jpg);}
#picture_box_person_f{background: url(../images/person_f.webp);}
#picture_box_person_m{background: url(../images/person_m.webp);}
#picture_box_pastor_j{ background-image: url(../images/pastorj.jpg); }
#picture_box_pastor_f{ background-image: url(../images/pastorf.jpg); }
#picture_box_bible_study{background-image: url(../images/bible_study.jpg);}
#picture_box_sunday_school{background-image: url(../images/sunday_school.jpg);}
#picture_box_benevolence{background-image: url(../images/benevolence.jpg) ;}
#picture_box_choir{background-image: url(../images/choir3.jpg);}
#picture_box_technical{background-image: url(../images/technical.jpg);}
#picture_box_outreach{background-image: url(../images/outreach.jpg);}
#picture_box_ushering{background-image: url(../images/usher.jpg);}
#picture_box_follow_up{background-image: url(../images/follow_up_call.jpg);}
#picture_box_prayer{background-image: url(../images/prayer_kneel.jpg);}
#picture_box_publicity{background-image: url(../images/publicity.jpg);}
#picture_box_evangelism{background-image: url(../images/evangelism.jpg);}
#picture_box_hospitality{background-image: url(../images/hospitality.jpeg);}
#picture_box_children{background-image: url(../images/children.jpg);}
#picture_box_young_adults{background-image: url(../images/young_adults.jpg);}
#picture_box_men{background-image: url(../images/men.jpg);}
#picture_box_women{background-image: url(../images/women.jpg);}
#picture_box_seniors{background-image: url(../images/seniors.jpeg);}
#picture_box_finance{background-image: url(../images/finance.jpg);}
#picture_box_facility{background-image: url(../images/facility.jpg);}
#picture_box_maintenance{background-image: url(../images/maintenance.jpeg);}
/*end divs with centered background picture*/

.box_flex{ display:flex;  flex-wrap:wrap; justify-content: center; }
.box_text_desc_action{ padding: 5% 2% 2%; display: flex; flex-direction: column;}
.box_text_desc_action h3{
    flex-grow: 2; padding: 2%; font-family: 'Satisfy', cursive; color: #084B83;}
.box_text_desc_action div{flex-grow: 5; }
.box_text_desc_action h4{flex-grow: 1; padding: 2%; color: #fff; }
.box_text_desc_action h5{flex-grow: 1; margin: 1% 3%; padding: 2%; text-transform:uppercase; 
    color: #fff; background-color: #084B83; }
.box_text_desc_action_ministries{height:60%; text-align:center; }

/*Ministries Begin*/
.ministry_wrapper{display; flex; flex-direction: column; width: 300px; height: 385px; margin: 2%;padding: 1% 0.7%; box-shadow: 1px 2px 1px 0.5px rgba(0, 0, 0, 0.2), 1px 1px 2px 2px rgba(0, 0, 0, 0.1);}
/*Ministries End*/
/*Benevolence Begin*/
.benevolence_wrapper{display; flex; flex-direction: column; width: 315px; height: 260px; margin: 2%;padding: 2%; text-align:center; border: 1px solid #CCFAFF;}
.icon_benevolence{font-size: 3em; color: rgba(26,210,240,0.65);}
.colored_box{padding: 3.5% 2%; margin: 2.5% 0%; background-color: rgba(26,210,240,0.65);}
/*Benevolence End*/

/*Messages Begin*/
#latest_message{display: flex; flex-direction: column; justify-content: center; padding: 2%; margin: 5%; text-align: center; border-bottom: 1px solid #028090;}

.audio_control{ max-width:100%; margin-top: 2%;
}
.audio_control span{ background-color: none; color: #42BFDD; border: none; font-size: 1.3em; margin: 2%;
}
.audio_control span a{color: #084B83;}
.icon_wrapper{display:flex;justify-content: space-around; color: #00b2ca; font-size: 22px; text-align: center;}
.icon_wrapper_v{flex-direction: column;}
.media_wrapper{
    display: flex; justify-content: space-around; align-items: center; padding: 1.5% 2%;
}
.media_wrapper img{width:65%;}
/*
.message_wrapper{
    width: 315px; height: 120px; margin: 1.5%;
    display: grid; grid-template-columns: 5fr 1fr;
    box-shadow: 1px 2px 1px 0.5px rgba(0, 0, 0, 0.2), 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}
.message_icon{display:flex; align-items: center; margin: auto; font-size:2em; color:#084B83;}
.message_details{background-color: #6FBEDB;}*/
/*...Messages End...*/

/*...Footer Styles Begin*/
footer{
    display: grid;
    grid-template-columns: repeat(3,1fr); grid-gap: 2.5%;
    padding: 3.5%;
    color: #fff; background-color: #084B83;
    font-size: 1.55vw;
    background: url(../images/footer.jpg) center bottom no-repeat; background-size: cover;
}
footer a{color:#fff;}
footer a:hover{color:#42BFDD;}
.footer_item{ margin: 3% 2%; }
.footer_item a{color:#fff;}
footer div h3{ text-transform: uppercase; margin-bottom: 2%; padding: 1% 0 2.5%;}
footer div h3 a{
    text-transform: uppercase;
    font-size: 1.7vw;
    padding : 2% 1%;
    border-bottom: 1.5px solid #42BFDD;
}
.footer_sub_group{
    margin-left: 4%; margin-bottom: 3%;
    display: flex; flex-direction: column;
}

/*...Footer Styles End*/
footer i{margin: 2%;}

/*Tablet specific styles*/
@media screen and (max-width:980px){
        #landing_video{ min-width: 185%; height: auto; }
        #welcome_wrapper h4{font-size: 2.4vw; padding-left: 12.5vw;}
        #welcome_wrapper a{ font-size: 3.6vw; margin:3%;}
        #church_name{ font-size: 5.1vw;}
        .picture_and_text{ height: 80vh; }
        .text_on_pic_describe{
            width: 47%; left: 53%; font-size: 2.5vw; 
        }
        .text_on_pic_action{
            width: 58%; left: 22%; top: 65%; font-size: 2.4vw;
        }
        .home_text{
            font-size : 5.5vw; padding: 15% 10%; }
        .home_text_small{ font-size : 3.5vw; padding: 5.5% 10%;}
    
        .buffer{ height: 50vh; min-height: 50vh;}
        .page_title{padding: 2%;}
        footer{
            grid-template-columns: 1fr 1fr;
            font-size: 2.3vw;
        }
        footer div h3 a{
            font-size: 2.5vw;
        }
}
/* mobile screen */
@media screen and (max-width:600px){
                #landing_video{
                    min-width: 330%; height: auto;
                }
                .action_wrapper{
                    padding: 5% 5% 3%; 
                }
                .picture_and_text{ height: 70vh; }
                .text_on_pic_describe{
                    width: 50%; left: 50%; font-size: 2.5vw;
                }
                .text_on_pic_action{
                    width: 60%; left: 20%; top: 60%; font-size: 2.3vw;
                }
                #vision_mission, #what_to_expect, #our_roots, #statement_of_faith{
                    margin: 0 5%;
                }
                .box_wrapper_light{
                    flex-direction: column; justify-content: center;
                }
                .box_wrapper_light > div{padding: 1% 0 12%;}
                #sub_section_pastors{flex-direction:column; justify-content: center; }
                footer{
                    /*display : block;*/
                    font-size: 3.2vw;
                }
                footer div h3 a{
                    font-size: 3.4vw;
                }
}


