@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}
*{
    box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    margin: 0; padding: 0; max-width: 100%;
}

html{
    font-family: 'Cormorant Garamond', serif;
    max-width: 100%;
}
a{ text-decoration: none;}
a:hover{color:#fff;}
body{
    max-width: 100%;
}
header{
    position: fixed; top:0; min-width: 100%; z-index:2;
    background-color: #fff; color: #001a33;
    max-width: 100%;
    border-bottom: 1px solid grey;
}
#logo_menu_wrapper{padding: 2% 5%;}
#logo{width: 30vh;}
.hamburger { display: inline-block; cursor: pointer; float:right;}

.line1, .line2, .line3 {
  width: 35px; height: 5px;
  background-color: #084B83;
  margin: 6px 0;
  transition: 0.6s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-9px, 6px); -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  
}
.change .line2 {opacity: 0;}
.change .line3 {
  transform: rotate(45deg) translate(-8px, -8px); -webkit-transform: rotate(45deg) translate(-8px, -8px);
}
#nav_wrapper{ display:none; text-align: center; }
#nav_wrapper div{padding: 10px; border-top: 1px solid #084B83; color: #084B83; }
.nav_item{ padding: 1% 7%; text-decoration: none; color: #00ACE6;}
#nav_wrapper div:hover, .nav_item:hover {background-color: #084B83; color:#fff; }
.background_video{
    position: fixed;
    max-width:100vw; height: 100vh; z-index: -1; overflow:hidden; background-color: rgba(0,0,0,0.1);
}
#landing_video{
    min-width: 130%; height: auto;
}
.picture_and_text{ 
    width:100%;
    background: center center no-repeat; background-size: cover;
    overflow: hidden;
}
#landing_view{ 
    height : 100vh; 
    /*background: url(../images/pastorj_auditorium_blue.jpg) center center no-repeat; */background-size: cover;
    overflow: hidden;
}
.page_section{ padding: 4% 7.5%; }
.page_section h2{ 
    font-family: 'Satisfy', cursive;
    color: #42BFDD;
}

#welcome_wrapper{
    width:100%; height: 100vh; padding: 10%;
    color: #fff; background-color: rgba(0, 32, 128, 0.6);
    display: flex; flex-direction: column; justify-content: center;
}
#welcome_wrapper h3{ font-size: 3.7vw; }
#church_name{ font-size: 6.5vw;}
#welcome_wrapper h2{font-family: 'Satisfy', cursive; font-size: 3.8vw; color: #42BFDD;}
.social_wrapper{ display: flex; }
.social_wrapper a{ padding: 5%; font-size: 5em; color: #084B83;}
.picture_and_text{ 
    height: 70vh; margin:0; min-width: 100%;
    background: center center no-repeat; background-size: cover;
}
#picture_and_text_home1{background-image: url(../images/choir_covered.jpg);}
#picture_and_text_home2{background-image: url(../images/flower.jpg);}
#picture_and_text_home3{background-image: url(../images/prayer.jpg);}
.text_on_pic_describe{
    position: relative; width: 40%; left: 60%; top: 70%; padding: 2% 3%; color: #fff; background-color: #42BFDD;
}
.text_on_pic_action{
    position: relative; width: 30%; left: 35%; top: 75%; padding: 2% 3%; color: #084B83; background-color: #fff;  text-align: center; border-radius: 10px; font-family: 'Satisfy', cursive;
}
.home_text_big{ font-size : 8vw; padding: 8.5%;
    text-align: center; color:#fff; font-family: 'Satisfy', cursive;}
.home_text{
    font-size : 5.5vw; padding: 10%;
    text-align: center; color:#fff; font-family: 'Satisfy', cursive; 
}
.home_text_small{ font-size : 3.5vw; padding: 12.5%;
    text-align: center; color:#fff; font-family: 'Satisfy', cursive; }
footer{
    display: grid;
    grid-template-columns: repeat(4,1fr); grid-gap: 2.5%;
    padding: 3.5%;
    background-color: #084B83;
    color: #fff;
    font-size: 1.55vw;
}
.footer_item{ margin: 3% 2%; }
.footer_item a{color:#fff;}
footer div h3{ margin: 2% 0; padding: 5% 0;}
footer div h3 a{
    text-transform: uppercase;
    color: #fff;
    font-size: 1.7vw;
    padding : 2% 1%;
    border-bottom: 1.5px solid #42BFDD;
}
.footer_sub_group{
    margin-left: 4%; margin-bottom: 3%;
    display: flex; flex-direction: column;
}
i{margin: 3.5%;}

/*Tablet specific styles*/
@media screen and (max-width:960px){
        #landing_video{ min-width: 180%; height: auto; }
        /*#landing_view{ height : 90vh; }
        #welcome_wrapper{ min-height: 90vh; }*/
        .text_on_pic_describe{
            width: 50%; left: 50%; top: 60%;
        }
        .text_on_pic_action{ width: 60%; left: 20%; }
        footer{
            grid-template-columns: 1fr 1fr;
            font-size: 2.1vw;
        }
        footer div h3 a{
            font-size: 2.3vw;
        }
}

/* mobile screen */
@media screen and (max-width:600px){
                #landing_video{
                    min-width: 300%; height: auto;
                }
                footer{
                    /*display : block;*/
                    font-size: 2.8vw;
                }
                footer div h3 a{
                    font-size: 3vw;
                }
}
